//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Masthead styling
.app-masthead {
	background-color: #1d70b8;
	margin-top: -50px;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

@media (min-width: 40.0625em) {
	.app-masthead {
		padding-top: 40px;
	}
}

@media (max-width: 640px) {
	.app-masthead {
		margin-top: -30px;
		padding-top: 30px;
	}
}

.app-masthead__title,
.app-masthead__subtitle,
.app-masthead p {
	color: #ffffff;
}

// Old header (pre-2025)
.account-navigation {
	background-color: govuk-colour("light-grey");
	border-bottom: 1px solid $govuk-border-colour;
	position: relative;
}

.account-navigation__list {
	@include govuk-font($size: 19);
	@include govuk-text-colour;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.account-navigation__list-item {
	display: inline-block;
	margin: 0 govuk-spacing(4) 0 0;

	@include govuk-media-query($from: tablet) {
		margin: 0 govuk-spacing(6) 0 0;
	}
}

$nav-link-padding: govuk-spacing(3);
$nav-link-outline-thickness: 2px;
$nav-active-border-thickness: 5px;

.account-navigation__link {
	@extend .govuk-link;
	display: inline-block;
	font-weight: bold;
	padding: $nav-link-padding - $nav-link-outline-thickness 0 $nav-link-padding;
	margin-top: $nav-link-outline-thickness;

	&:not(:hover) {
		text-decoration: none;
	}

	&:visited {
		color: $govuk-link-colour;

		&:hover {
			color: $govuk-link-hover-colour;
		}

		&:focus {
			color: $govuk-focus-text-colour;
		}
	}

	.account-navigation__list-item--active & {
		padding: $nav-link-padding - $nav-link-outline-thickness 0 $nav-link-padding - $nav-active-border-thickness;
		border-bottom: $nav-active-border-thickness solid $govuk-link-colour;

		&:focus {
			border-bottom: none;
			padding: $nav-link-padding - $nav-link-outline-thickness 0 $nav-link-padding;
		}

		&:hover {
			border-color: $govuk-link-hover-colour;
		}
	}
}

.govuk-header--with-account-navigation {
	border-bottom: 0;

	.govuk-header__container {
		margin-bottom: 0;
		border-bottom: 0;
	}

	.govuk-header__logo {
		float: left;
		width: 100%;
	}
}

// New header (2025)
.govuk-header--with-sign-out-link {
	.govuk-header__content {
		text-align: right;
	}

	@include govuk-media-query ($until: tablet) {
		.govuk-header__navigation-list {
			display: block !important;
		}

		.govuk-header__menu-button {
			display: none !important;
		}

		.govuk-header__logo {
			float: left;
			padding-right: 0;
		}

		.govuk-header__content {
			float: right;
		}
	}
}

// Activity card
.activity-card {
	border: solid 1px #b1b4b6;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

// Information box
.information-box {
	margin-bottom: govuk-spacing(4);
	padding: govuk-spacing(3);
	background: govuk-colour("light-grey");

	@include govuk-media-query($from: tablet) {
		padding: govuk-spacing(6);
		margin-top: govuk-spacing(2);
		margin-bottom: govuk-spacing(8);
	}
}

// Original service cards with titles
.service-card--with-title {
	border: 1px solid #b1b4b6;
	margin-bottom: 20px;
}

.service-card-title {
	padding: 20px;
	padding-bottom: 5px;
	background-color: #f3f2f1;
}

.service-card-body {
	padding: 20px;
}

.service-card-date {
	color: #505A5F;
	margin-bottom: 0px;
}

// Simplified service cards
.service-card--other-task {
	border: 1px solid #b1b4b6;
	padding: 15px;
	margin-bottom: 20px;
}