{% extends "/layouts/home-header-account.html" %}

{% block pageTitle %}
Your services – GOV.UK One Login
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="account-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Your services</a>
      </li>
    </ol>
    <h1 class="govuk-heading-xl govuk-!-margin-top-4">Your services</h1>
    <p>You’ve accessed these services with your GOV.UK One Login.</p>
    <p>From here, you can go directly to a service to use it again.</p>

    <div class="service-card--other-task">
      <p><a href="#" class="govuk-link--no-visited-state">Sign your mortgage deed</a></p>
      <p class="service-card-date">Last used: {{ "now" | duration(-1, "days") | govukDate }}</p>
    </div>
    <div class="service-card--other-task">
      <p><a href="#" class="govuk-link--no-visited-state">Request a basic DBS check</a></p>
      <p class="service-card-date">Last used: {{ "now" | duration(-7, "weeks") | govukDate }}</p>
    </div>
    <div class="service-card--other-task">
      <p><a href="#" class="govuk-link--no-visited-state">State Pension forecast account</a></p>
      <p class="service-card-date">Last used: {{ "now" | duration(-15, "weeks") | govukDate }}</p>
    </div>
    <div class="information-box">
      <h3 class="govuk-heading-m">
        Services you can use with GOV.UK One Login
      </h3>
      <p class="govuk-body">GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
      <p class="govuk-body">In the future, you'll be able to use GOV.UK One Login to access all services on GOV.UK.</p>
      <p class="govuk-body">
        See the <a href="#" class="govuk-link">services you can use with GOV.UK One Login</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
