{% extends "/layouts/main-home-header.html" %}

{% block pageTitle %}
Enter your current password – GOV.UK One Login
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter your current password 
      </h1>
      <p class="govuk-body">We need to make sure it’s you before you can change your password.</p>
      <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
        <div class="govuk-form-group">
          <label class="govuk-label" for="weight">
            Enter your password
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true" href="">Show</div>
          </div>
        </div>
        <a href="enter-new-password" role="button" draggable="false" class="govuk-button govuk-button--continue" data-module="govuk-button">Continue</a>
        <p class="govuk-body">
          <a href="security" class="govuk-link govuk-link--no-visited-state">Cancel and go back to Security</a>
        </p>
    </div>
  </div>
</main>

{% endblock %}
