{% extends "/layouts/home-header.html" %}

{% block pageTitle %}
Are you sure you want to delete your GOV.UK One Login? – GOV.UK One Login
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Are you sure you want to delete your GOV.UK One Login? 
    </h1>
    <p>This will permanently delete the sign in details for your GOV.UK One Login.</p>
    <p>You will no longer be able to use your GOV.UK One Login to access:</p>
    <ul class="govuk-list govuk-list--bullet"> 
      <li>Sign your mortgage deed</li>
      <li>Request a basic DBS check</li>
      <li>Check your State Pension forecast</li>
    </ul>
    <p>It will not delete the personal information held by services you’ve used.</p>
    <p>If you need a GOV.UK One Login in the future, you’ll have to create a new one.</p>
    <div class="govuk-inset-text">
      <p>Deleting your GOV.UK One Login will not affect any other government accounts you may have, such as Government Gateway or Universal Credit.</p>
    </div>
    <form class="form" action="account-deleted-success" method="post">
      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Delete your GOV.UK One Login
      </button>
    </form>
    <p class="govuk-body">
        <a href="security" class="govuk-link govuk-link--no-visited-state">Cancel and go back to Security</a>
      </p>
  </div>
</div>

{% endblock %}