{% extends "/layouts/home-header.html" %}

{% block pageTitle %}
You’ve changed your phone number – GOV.UK One Login
{% endblock %}

{% block beforeContent %}
{% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You’ve changed your phone number
      </h1>
    </div>
    {% if data['new-phone-number'] %}
      <p>
        We’ll send security codes to your phone number ending with <span class="govuk-!-font-weight-bold">{{ data['new-phone-number'].substring(data['new-phone-number'].length - 3)}}</span>
      </p>
      {% else %}
      <p>
        We’ll send security codes to your phone number ending with <span class="govuk-!-font-weight-bold">406</span>
      </p>
      {% endif %}
    <a href="security" role="button" draggable="false" class="govuk-button govuk-button--continue" data-module="govuk-button">Back to security</a>
  </div>
</div>

{% endblock %}
