{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="app-masthead govuk-!-padding-bottom-6 govuk-!-margin-bottom-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          {{ serviceName }}
        </h1>
        <h2 class="app-masthead__subtitle govuk-heading-l govuk-!-font-weight-regular">Prototype</h2>
        <div class="app-masthead__description">
          <p class="govuk-body">This site contains prototyping for the <strong>Home</strong> part of the GOV.UK One Login service</p>
        </div>
      </div>
    </div>
  </div>
</div>
<body>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Versions</h2>
      <!--User research version-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            User research
          </h2>
          <a href="#" class="govuk-link--no-visited-state">User research version</a>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Designs that are being tested with users. They are experimental and not necessarily going to be built.</p>
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Research round summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p>-</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Last updated
              </dt>
              <dd class="govuk-summary-list__value">
                -
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <!--Ready for release-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Ready for release
          </h2>
          <a href="ready-for-release/authentication/gov-account" class="govuk-link--no-visited-state">Ready for release version</a>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Designs have been tested, iterated on, discussed and are ready to be developed. They are not in the live product so may not be appropriate to show users/stakeholders unless with a caveat.</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What's new?
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet"> 
                  <li>changes to the primary navigation</li>
                  <li>new <a href="/ready-for-release/home/account-home" class="govuk-link--no-visited-state">Home page</a></li>
                  <li>streamlined <a href="/ready-for-release/home/your-services" class="govuk-link--no-visited-state">service cards</a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key pages
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet"> 
                <li><a href="/ready-for-release/home/account-home" class="govuk-link--no-visited-state">Home page</a></li>
                <li><a href="/ready-for-release/home/your-services" class="govuk-link--no-visited-state">Your services</a></li>
                <li><a href="/ready-for-release/home/security/security" class="govuk-link--no-visited-state">Security</a></li>
              </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Last updated
              </dt>
              <dd class="govuk-summary-list__value">
                7 March 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <!--Main version-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Main
          </h2>
          <a href="#" class="govuk-link--no-visited-state">Main version</a>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p>This version is as close to the live product and used to demo to colleagues and stakeholders.</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key pages
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet"> 
                <li><a href="/ready-for-release/home/account-home" class="govuk-link--no-visited-state">Home page</a></li>
                <li><a href="/ready-for-release/home/your-services" class="govuk-link--no-visited-state">Your services</a></li>
                <li><a href="/ready-for-release/home/security/security" class="govuk-link--no-visited-state">Security</a></li>
              </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Last updated
              </dt>
              <dd class="govuk-summary-list__value">
                7 March 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list useful-links govuk-!-font-size-16">
            <li>
              <a href="https://github.com/alphagov/home-research-prototype" class="govuk-link--no-visited-state">
                Prototype GitHub repository
              </a>
            </li>
            <li>
              <a href="https://github.com/govuk-one-login/di-one-login-home" class="govuk-link--no-visited-state">
                Old prototype GitHub repository
              </a>
            </li>
          </ul>
        </nav>
        <h2 class="govuk-heading-m">History</h2>
        <form class="form" action="updates" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">View updates history</button>
          <input class="govuk-input" name="signin" type="hidden" value="create">
        </form>
      </aside>
    </div>
  </div>
</body>

{% endblock %}
