{% extends "layouts/main.html" %}

{% block pageTitle %}
You've created your GOV.UK One Login
{% endblock %}

{% block header %}
{% include "../authentication/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You've created your GOV.UK One Login</h1>
    <p>Now continue to use the service.</p>
    <form class="form" action="../home/your-services" method="post">
      <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
