{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your phone
{% endblock %}

{% block header %}
{% include "../authentication/_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- If user selects auth method then display the respective content for that method -->

    {% if data['security-code'] === 'otp-auth' %}
    <form class="form" action="../home/your-services" method="POST">
      <h1 class="govuk-heading-l">
        Enter the security code you see in your authenticator app
      </h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>
        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <p><a href="#">I do not have access to my authenticator app</a> </p> 
    </form>
      
    <!-- Else display the default SMS method with its respective content -->

    {% else %}
    <form class="form" action="../home/your-services" method="POST">
      <h1 class="govuk-heading-l">Check your phone</h1>
      {% if data['phone-number'] %}
        <div class="govuk-inset-text">
          We have sent a code to your phone number ending with <span class="govuk-!-font-weight-bold">{{ data['phone-number'].substring(data['phone-number'].length - 3)}}</span>
        </div>
        {% else %}
        <div class="govuk-inset-text">
          We have sent a code to your phone number ending with <span class="govuk-!-font-weight-bold">406</span>
        </div>
      {% endif %}
      <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="otp">Enter the 6 digit security code</label>
        <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text" autocomplete="one-time-code" inputmode="numeric" spellcheck="false" >
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            <a href="#">Send the code again</a> if it’s not working or you did not receive it.
          </p>
          <p class="govuk-body">If you no longer have access to this phone number you may be able to <a href="#">change how you get security codes.</a>
          </p>
        </div>
      </details>
    </div>     
  </div>
</div>
{% endif %}
{% endblock %}